body{

    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin: 0;


}


#hero {

    width: 592px;


    margin-top: 0;
    margin-right: auto;
    margin-bottom: 72px;
    margin-left: auto;


}


